## Compiled JavaScript files
lib/**/*.js
**/*.js.map

# dependencies
node_modules/

# Firebase Admin SDK credential
*firebase-adminsdk*.json

# Logs
firebase-debug.log

# Firebase config
.runtimeconfig.json

# firestore seed files
seeds/
